<template>
  <b-container>
    <b-row class="pt-4" ref="logo">
      <h1 class="mx-auto">UrlCheck</h1>
    </b-row>

    <b-form @submit="onSubmit" class="sticky-top pt-4" :class="{'shadow': scrolled}">
      <b-form-group id="url-group" label="Site url:" label-for="url-input" horizontal :feedback="urlFeedback" :state="urlState">
        <b-form-input id="url-input" type="text" v-model="url" required :state="urlState" placeholder="https://www8.hp.com/CC/LL/home.html or https://www.hp.com/CC-LL/home.html"></b-form-input>
      </b-form-group>

      <b-form-group id="region-group" label="Regions:" label-for="region-checkboxes" horizontal :feedback="regionFeedback" :state="regionState">
        <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate" @change="toggleAll" :disabled="disabled" class="all d-inline-block align-middle">ALL</b-form-checkbox>
        <b-form-checkbox-group id="region-checkboxes" :options="regions" v-model="selected" @change="clickParent($event)" :disabled="disabled" name="regions" class="d-inline-block align-middle"></b-form-checkbox-group>

      </b-form-group>
      <hr/>
      <b-form-group id="sub-region-group" label="Sub-regions EMEA:" label-for="sub-region-emea" horizontal >
        <b-form-checkbox-group id="sub-region-emea" :options="subRegions.EMEA" v-model="subRegionsSelected.EMEA" @change="clickChild('EMEA', $event)" :disabled="disabled" name="sub-regions-emea" class="d-inline-block align-middle"></b-form-checkbox-group>
      </b-form-group>

      <b-form-group id="sub-region-group" label="Sub-regions AMS:" label-for="sub-region-ams" horizontal >
        <b-form-checkbox-group id="sub-region-ams" :options="subRegions.AMS" v-model="subRegionsSelected.AMS" @change="clickChild('AMS', $event)" :disabled="disabled" name="sub-regions-ams" class="d-inline-block align-middle"></b-form-checkbox-group>
      </b-form-group>

      <b-form-group id="sub-region-group" label="Sub-regions AP:" label-for="sub-region-ap" horizontal >
        <b-form-checkbox-group id="sub-region-ap" :options="subRegions.AP" v-model="subRegionsSelected.AP" @change="clickChild('AP', $event)" :disabled="disabled" name="sub-regions-ap" class="d-inline-block align-middle"></b-form-checkbox-group>
      </b-form-group>

      <b-form-group id="cta-group" label="" label-for="cta" horizontal :state="ctaState" :feedback="ctaFeedback">
        <b-row>
          <b-col sm="4" class="mb-4 mb-sm-0">
            <b-button id="cta" type="submit" variant="primary" block :disabled="disabled">Test</b-button>
          </b-col>
          <b-col sm="4" class="mb-4 mb-sm-0">
            <b-button block @click="retest" variant="outline-primary" :disabled="disabled">Retest</b-button>
          </b-col>
          <b-col sm="4">
            <b-button variant="outline-primary" @click="getCsv" block :disabled="disabled">Download results</b-button>
          </b-col>
        </b-row>
      </b-form-group>

      <b-alert variant="danger" dismissible :show="showAlert" @dismissed="showAlert=false">
        {{alertMessage}}
      </b-alert>

      <b-form-group id="progress-group" class="mb-0">
        <b-progress :value="progress.current" :max="progress.max" variant="secondary" height="3px" class="bar"></b-progress>
      </b-form-group>
    </b-form>

    <h5 class="mt-4">2XX:</h5>
    <b-card class="text-center mt-4" :class="{'d-none': twosPages.length > 0}">
      No 2XX pages have been found yet.
    </b-card>
    <b-list-group class="pt-4 mb-4">
      <b-list-group-item v-for="(site, index) in twosPages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block">
            <a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a>
            <b-row v-for="(route, ridx) in site.redirects" :key="ridx">
              <b-col cols="3" sm="2" md="1">
                <b-badge class="float-right" :variant="colorize(route.statusCode)">{{route.statusCode}}</b-badge>
              </b-col>
              <b-col sm="9" md="10" xl="11" class="url d-none d-sm-block">
                <div class="redirect-path">{{route.redirectUri}}</div>
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5>3XX:</h5>
    <b-card class="text-center mt-4" :class="{'d-none': threesPages.length > 0}">
      No 3XX pages have been found yet.
    </b-card>
    <b-list-group class="pt-4 mb-4">
      <b-list-group-item v-for="(site, index) in threesPages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block">
            <a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a>
            <b-row v-for="(route, ridx) in site.redirects" :key="ridx">
              <b-col cols="3" sm="2" md="1">
                <b-badge class="float-right" :variant="colorize(route.statusCode)">{{route.statusCode}}</b-badge>
              </b-col>
              <b-col sm="9" md="10" xl="11" class="url d-none d-sm-block">
                <div class="redirect-path">{{route.redirectUri}}</div>
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5>4XX:</h5>
    <b-card class="text-center mt-4" :class="{'d-none': foursPages.length > 0}">
      No 4XX pages have been found yet.
    </b-card>
    <b-list-group class="pt-4 mb-4">
      <b-list-group-item v-for="(site, index) in foursPages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block">
            <a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a>
            <b-row v-for="(route, ridx) in site.redirects" :key="ridx">
              <b-col cols="3" sm="2" md="1">
                <b-badge class="float-right" :variant="colorize(route.statusCode)">{{route.statusCode}}</b-badge>
              </b-col>
              <b-col sm="9" md="10" xl="11" class="url d-none d-sm-block">
                <div class="redirect-path">{{route.redirectUri}}</div>
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5>5XX:</h5>
    <b-card class="text-center mt-4" :class="{'d-none': fivesPages.length > 0}">
      No 5XX pages have been found yet.
    </b-card>
    <b-list-group class="pt-4 mb-4">
      <b-list-group-item v-for="(site, index) in fivesPages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block">
            <a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a>
            <b-row v-for="(route, ridx) in site.redirects" :key="ridx">
              <b-col cols="3" sm="2" md="1">
                <b-badge class="float-right" :variant="colorize(route.statusCode)">{{route.statusCode}}</b-badge>
              </b-col>
              <b-col sm="9" md="10" xl="11" class="url d-none d-sm-block">
                <div class="redirect-path">{{route.redirectUri}}</div>
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5 class="d-none" :class="{'d-block': elsePages.length > 0}">Else:</h5>
    <b-list-group class="pt-4 mb-4 d-none" :class="{'d-block': elsePages.length > 0}">
      <b-list-group-item v-for="(site, index) in elsePages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block"><a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a></b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5 class="mb-4">Status code explanation:</h5>

    <b-tabs class="mb-5">
      <b-tab title="1xx Informational" active>
        <p class="mt-4">
          An informational response indicates that the request was received and understood.
          It is issued on a provisional basis while request processing continues.
          It alerts the client to wait for a final response.
          The message consists only of the status line and optional header fields, and is terminated by an empty line.
          As the HTTP/1.0 standard did not define any 1xx status codes, servers must not send a 1xx response to an HTTP/1.0 compliant client except under experimental conditions.
        </p>
        <ul>
          <li>100 Continue</li>
          <li>101 Switching Protocols</li>
          <li>102 Processing</li>
        </ul>
      </b-tab>
      <b-tab title="2XX Success">
        <p class="mt-4">
          This class of status codes indicates the action requested by the client was received, understood, accepted, and processed successfully.
        </p>
        <ul>
          <li>200 OK</li>
          <li>201 Created</li>
          <li>202 Accepted</li>
          <li>203 Non-Authoritative Information</li>
          <li>204 No Content</li>
          <li>205 Reset Content</li>
          <li>206 Partial Content</li>
          <li>207 Multi-Status</li>
          <li>208 Already Reported</li>
          <li>226 IM Used</li>
        </ul>
      </b-tab>
      <b-tab title="3XX Redirection">
        <p class="mt-4">
          This class of status code indicates the client must take additional action to complete the request.
          Many of these status codes are used in URL redirection.
          A user agent may carry out the additional action with no user interaction only if the method used in the second request is GET or HEAD.
          A user agent may automatically redirect a request.
          A user agent should detect and intervene to prevent cyclical redirects.
        </p>
        <ul>
          <li>300 Multiple Choices</li>
          <li>301 Moved Permanently</li>
          <li>302 Found</li>
          <li>303 See Other</li>
          <li>304 Not Modified</li>
          <li>305 Use Proxy</li>
          <li>306 Switch Proxy</li>
          <li>307 Temporary Redirect</li>
          <li>308 Permanent Redirect</li>
        </ul>
      </b-tab>
      <b-tab title="4XX Client errors">
        <p class="mt-4">
          This class of status code is intended for situations in which the error seems to have been caused by the client.
          Except when responding to a HEAD request, the server should include an entity containing an explanation of the error situation, and whether it is a temporary or permanent condition.
          These status codes are applicable to any request method.
          User agents should display any included entity to the user.
        </p>
        <ul>
          <li>400 Bad Request</li>
          <li>401 Unauthorized</li>
          <li>402 Payment Required</li>
          <li>403 Forbidden</li>
          <li>404 Not Found</li>
          <li>405 Method Not Allowed</li>
          <li>406 Not Acceptable</li>
          <li>407 Proxy Authentication Required</li>
          <li>408 Request Timeout</li>
          <li>409 Conflict</li>
          <li>410 Gone</li>
          <li>411 Length Required</li>
          <li>412 Precondition Failed</li>
          <li>413 Payload Too Large</li>
          <li>414 URI Too Long</li>
          <li>415 Unsupported Media Type</li>
          <li>416 Range Not Satisfiable</li>
          <li>417 Expectation Failed</li>
          <li>418 I'm a teapot</li>
          <li>421 Misdirected Request</li>
          <li>422 Unprocessable Entity</li>
          <li>423 Locked</li>
          <li>424 Failed Dependency</li>
          <li>426 Upgrade Required</li>
          <li>428 Precondition Required</li>
          <li>429 Too Many Requests</li>
          <li>431 Request Header Fields Too Large</li>
          <li>451 Unavailable For Legal Reasons</li>
        </ul>
      </b-tab>
      <b-tab title="5XX Server errors">
        <p class="mt-4">
          The server failed to fulfill a request.
          Response status codes beginning with the digit "5" indicate cases in which the server is aware that it has encountered an error or is otherwise incapable of performing the request.
          Except when responding to a HEAD request, the server should include an entity containing an explanation of the error situation, and indicate whether it is a temporary or permanent condition.
          Likewise, user agents should display any included entity to the user.
          These response codes are applicable to any request method.
        </p>
        <ul>
          <li>500 Internal Server Error</li>
          <li>501 Not Implemented</li>
          <li>502 Bad Gateway</li>
          <li>503 Service Unavailable</li>
          <li>504 Gateway Timeout</li>
          <li>505 HTTP Version Not Supported</li>
          <li>506 Variant Also Negotiates</li>
          <li>507 Insufficient Storage</li>
          <li>508 Loop Detected</li>
          <li>510 Not Extended</li>
          <li>511 Network Authentication Required</li>
        </ul>
      </b-tab>
    </b-tabs>

    <h5>References:</h5>
    <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">Wikipedia</a>

  </b-container>
</template>

<script>
  import Papa from 'papaparse'
  import sortBy from 'lodash/sortBy'
  import axios from 'axios'
  import axiosRetry from 'axios-retry'
  import urlModule from 'url'

  export default {
    name: 'HelloWorld',
    data () {
      return {
        url: '',
        regions: ['AMS', 'EMEA', 'AP'],
        subRegions: {
          AMS: ['North America', 'South America'],
          EMEA: ['DACH', 'Eastern/Central Europe', 'Northern Europe', 'Southern Europe', 'UK & I', 'MEMA'],
          AP: ['Greater Asia', 'Greater China', 'India']
        },
        subRegionsSelected: {
          AMS: ['North America', 'South America'],
          EMEA: ['DACH', 'Eastern/Central Europe', 'Northern Europe', 'Southern Europe', 'UK & I', 'MEMA'],
          AP: ['Greater Asia', 'Greater China', 'India']
        },
        selected: ['AMS', 'EMEA', 'AP'],
        allSelected: true,
        indeterminate: false,
        sites: [],
        progress: {
          current: 0,
          max: 100
        },
        disabled: false,
        ctaState: 'valid',
        ctaFeedback: '',
        localeList: [
          {
            ccll: 'us-en',
            region: 'AMS',
            subRegion: 'North America',
            country: 'United States'
          },
          {
            ccll: 'ca-en',
            region: 'AMS',
            subRegion: 'North America',
            country: 'Canada EN'
          },
          {
            ccll: 'ca-fr',
            region: 'AMS',
            subRegion: 'North America',
            country: 'Canada FR'
          },
          {
            ccll: 'mx-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Mexico'
          },
          {
            ccll: 'br-pt',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Brazil'
          },
          {
            ccll: 'pe-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Peru'
          },
          {
            ccll: 'co-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Colombia'
          },
          {
            ccll: 'ec-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Ecuador'
          },
          {
            ccll: 'cl-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Chile'
          },
          {
            ccll: 'ar-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Argentina'
          },
          {
            ccll: 'bo-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Bolivia'
          },
          {
            ccll: 'lamerica_nsc_cnt_amer-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Latin America (Cnt)'
          },
          {
            ccll: 'pr-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Puerto Rico'
          },
          {
            ccll: 'py-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Paraguay'
          },
          {
            ccll: 'uy-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Uruguay'
          },
          {
            ccll: 've-es',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Venezuela'
          },
          {
            ccll: 'lamerica_nsc_carib-en',
            region: 'AMS',
            subRegion: 'South America',
            country: 'Caribbean'
          },
          {
            ccll: 'uk-en',
            region: 'EMEA',
            subRegion: 'UK & I',
            country: 'United Kingdom'
          },
          {
            ccll: 'ie-en',
            region: 'EMEA',
            subRegion: 'UK & I',
            country: 'Ireland'
          },
          {
            ccll: 'ch-de',
            region: 'EMEA',
            subRegion: 'DACH',
            country: 'Switzerland DE'
          },
          {
            ccll: 'ch-fr',
            region: 'EMEA',
            subRegion: 'DACH',
            country: 'Switzerland FR'
          },
          {
            ccll: 'de-de',
            region: 'EMEA',
            subRegion: 'DACH',
            country: 'Germany'
          },
          {
            ccll: 'es-es',
            region: 'EMEA',
            subRegion: 'Southern Europe',
            country: 'Spain'
          },
          {
            ccll: 'fr-fr',
            region: 'EMEA',
            subRegion: 'Southern Europe',
            country: 'France'
          },
          {
            ccll: 'it-it',
            region: 'EMEA',
            subRegion: 'Southern Europe',
            country: 'Italy'
          },
          {
            ccll: 'be-fr',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Belgium FR'
          },
          {
            ccll: 'be-nl',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Belgium NL'
          },
          {
            ccll: 'se-sv',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Sweden'
          },
          {
            ccll: 'dk-da',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Denmark'
          },
          {
            ccll: 'no-no',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Norway'
          },
          {
            ccll: 'at-de',
            region: 'EMEA',
            subRegion: 'DACH',
            country: 'Austria'
          },
          {
            ccll: 'emea_africa-fr',
            region: 'EMEA',
            subRegion: 'MEMA',
            country: 'Africa FR'
          },
          {
            ccll: 'emea_africa-en',
            region: 'EMEA',
            subRegion: 'MEMA',
            country: 'Africa EN'
          },
          {
            ccll: 'cz-cs',
            region: 'EMEA=E',
            subRegion: 'Eastern/Central Europe',
            country: 'Czech Republic'
          },
          {
            ccll: 'hr-hr',
            region: 'EMEA - ECE',
            subRegion: 'Eastern/Central Europe',
            country: 'Croatia'
          },
          {
            ccll: 'fi-fi',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Finland'
          },
          {
            ccll: 'gr-el',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Greece'
          },
          {
            ccll: 'hu-hu',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Hungary'
          },
          {
            ccll: 'il-he',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Israel'
          },
          {
            ccll: 'emea_middle_east-ar',
            region: 'EMEA',
            subRegion: 'MEMA',
            country: 'Middle East AR'
          },
          {
            ccll: 'emea_middle_east-en',
            region: 'EMEA',
            subRegion: 'MEMA',
            country: 'Middle East EN'
          },
          {
            ccll: 'nl-nl',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Netherlands'
          },
          {
            ccll: 'pl-pl',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Poland'
          },
          {
            ccll: 'pt-pt',
            region: 'EMEA',
            subRegion: 'Southern Europe',
            country: 'Portugal'
          },
          {
            ccll: 'ro-ro',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europee',
            country: 'Romania'
          },
          {
            ccll: 'sa-ar',
            region: 'EMEA',
            subRegion: 'MEMA',
            country: 'Saudi Arabia AR'
          },
          {
            ccll: 'sa-en',
            region: 'EMEA',
            subRegion: 'MEMA',
            country: 'Saudi Arabia EN'
          },
          {
            ccll: 'sk-sk',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Slovakia'
          },
          {
            ccll: 'si-sl',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europee',
            country: 'Slovenia'
          },
          {
            ccll: 'tr-tr',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Turkey'
          },
          {
            ccll: 'za-en',
            region: 'EMEA',
            subRegion: 'MEMA',
            country: 'South Africa'
          },
          {
            ccll: 'bg-bg',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Bulgaria'
          },
          {
            ccll: 'ee-et',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Estonia'
          },
          {
            ccll: 'is-is',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Iceland'
          },
          {
            ccll: 'lv-lv',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Latvia'
          },
          {
            ccll: 'lt-lt',
            region: 'EMEA',
            subRegion: 'Northern Europe',
            country: 'Lithuania'
          },
          {
            ccll: 'mt-en',
            region: 'EMEA',
            subRegion: 'Southern Europe',
            country: 'Malta'
          },
          {
            ccll: 'rs-sr',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Serbia'
          },
          {
            ccll: 'ua-uk',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Ukraine UK'
          },
          {
            ccll: 'ua-ru',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Ukraine RU'
          },
          {
            ccll: 'by-ru',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Belarus'
          },
          {
            ccll: 'kz-ru',
            region: 'EMEA',
            subRegion: 'Eastern/Central Europe',
            country: 'Kazakhstan'
          },
          {
            ccll: 'au-en',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Australia'
          },
          {
            ccll: 'nz-en',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'New Zealand'
          },
          {
            ccll: 'my-en',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Malaysia'
          },
          {
            ccll: 'in-en',
            region: 'AP',
            subRegion: 'India',
            country: 'India'
          },
          {
            ccll: 'bd-en',
            region: 'AP',
            subRegion: 'India',
            country: 'Bangladesh'
          },
          {
            ccll: 'lk-en',
            region: 'AP',
            subRegion: 'India',
            country: 'Sri Lanka'
          },
          {
            ccll: 'sg-en',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Singapore'
          },
          {
            ccll: 'kr-ko',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Korea'
          },
          {
            ccll: 'vn-en',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Vietnam EN'
          },
          {
            ccll: 'vn-vi',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Vietnam VI'
          },
          {
            ccll: 'ph-en',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Philippines'
          },
          {
            ccll: 'hk-en',
            region: 'AP',
            subRegion: 'Greater China',
            country: 'Hong Kong EN'
          },
          {
            ccll: 'hk-zh',
            region: 'AP',
            subRegion: 'Greater China',
            country: 'Hong Kong ZH'
          },
          {
            ccll: 'cn-zh',
            region: 'AP',
            subRegion: 'Greater China',
            country: 'China'
          },
          {
            ccll: 'id-en',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Indonesia EN'
          },
          {
            ccll: 'id-id',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Indonesia ID'
          },
          {
            ccll: 'jp-ja',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Japan'
          },
          {
            ccll: 'th-en',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Thailand EN'
          },
          {
            ccll: 'th-th',
            region: 'AP',
            subRegion: 'Greater Asia',
            country: 'Thailand TH'
          },
          {
            ccll: 'tw-zh',
            region: 'AP',
            subRegion: 'Greater China',
            country: 'Taiwan'
          }
        ],
        scrolled: false,
        showAlert: false,
        alertMessage: ''
      }
    },
    computed: {
      urlFeedback () {
        let result = ''
        if (this.url.length) {
          try {
            result = (urlModule.parse(this.url).hostname === 'www.hp.com').toString()
            if (result === 'false') {
              result = 'Only "www.hp.com" domain allowed!'
            } else if (this.url.match(/.+\/cc-ll\/.+/i) === null) {
              result = 'Url has to contain "cc-ll" to generate local urls!'
            }
          } catch (e) {
            console.log('in')
          }
        }
        return result
      },
      urlState () {
        if (this.url.length === 0) {
          return null
        } else {
          return this.urlFeedback === 'true' ? 'valid' : 'invalid'
        }
      },
      regionFeedback () {
        return this.selected.length === 0 ? 'Must select one region at least!' : ''
      },
      regionState () {
        return this.selected.length === 0 ? 'invalid' : 'valid'
      },
      twosPages () {
        return this.sites.filter(function (site) {
          return '2'.indexOf(site.code.toString()[0]) > -1
        })
      },
      threesPages () {
        return this.sites.filter(function (site) {
          return '3'.indexOf(site.code.toString()[0]) > -1
        })
      },
      foursPages () {
        return this.sites.filter(function (site) {
          return '4'.indexOf(site.code.toString()[0]) > -1
        })
      },
      fivesPages () {
        return this.sites.filter(function (site) {
          return '5'.indexOf(site.code.toString()[0]) > -1
        })
      },
      elsePages () {
        return this.sites.filter(function (site) {
          return ['2', '3', '4', '5'].indexOf(site.code.toString()[0]) === -1
        })
      },
      tffPages () {
        return this.sites.filter(function (site) {
          return ['3', '4', '5'].indexOf(site.code.toString()[0]) > -1
        })
      }
    },
    methods: {
      clickChild (parent, event) {
        if (event.length === 0) {
          for (let i = 0; i < this.selected.length; i++) {
            if (this.selected[i] === parent) {
              this.selected.splice(i, 1)
              this.subRegionsSelected[parent] = []
            }
          }
        }
        if (event.length === 1 && this.selected.indexOf(parent) === -1) {
          this.selected.push(parent)
        }
      },
      clickParent (event) {
        this.resetSubregions()
        event.forEach(i => {
          this.subRegionsSelected[i] = this.subRegions[i]
        })
      },
      resetSubregions () {
        this.subRegionsSelected.EMEA = []
        this.subRegionsSelected.AP = []
        this.subRegionsSelected.AMS = []
      },
      setSubregions () {
        this.subRegionsSelected.EMEA = this.subRegions.EMEA
        this.subRegionsSelected.AP = this.subRegions.AP
        this.subRegionsSelected.AMS = this.subRegions.AMS
      },
      toggleAll (checked) {
        this.selected = checked ? this.regions.slice() : []
        if (checked) {
          this.setSubregions()
        } else {
          this.resetSubregions()
        }
      },
      getCsv () {
        if (this.sites.length === 0) {
          this.ctaState = 'invalid'
          this.ctaFeedback = 'No data to download, please run a test first!'
        } else {
          this.ctaState = 'valid'
          var csv = Papa.unparse(sortBy(this.sites, ['region', 'country']))
          this.download(csv, 'UrlCheck.csv', 'text/csv;encoding:utf-8')
        }
      },
      getPageData (page, url) {
        axios.get(`${process.env.SERVER_HOST || ''}/check?url=${url}`)
          .then(response => {
            this.sites.push({
              region: page.region,
              country: page.country,
              subRegion: page.subRegion,
              url: url,
              code: response.data.finalStatusCode,
              redirects: response.data.redirects
            })
            this.progress.current++
            if (this.progress.max <= this.progress.current) {
              this.disabled = false
            }
          })
          .catch(e => {
            this.alertMessage = e.toString()
            this.showAlert = true
            this.progress.current++
            if (this.progress.max <= this.progress.current) {
              this.disabled = false
            }
          })
      },
      retest (evt) {
        evt.preventDefault()
        if (this.tffPages.length === 0) {
          this.ctaState = 'invalid'
          this.ctaFeedback = 'Nothing to retest. There must be 3XX, 4XX or 5XX.'
        } else {
          this.ctaState = 'valid'
          this.disabled = true

          this.progress.current = 0
          this.progress.max = this.tffPages.length

          this.tffPages.forEach(function (page) {
            this.getPageData(page, page.url)
          }, this)

          this.sites = this.twosPages
        }
      },
      onSubmit (evt) {
        evt.preventDefault()
        this.ctaState = 'valid'

        if (this.urlState === 'valid' && this.regionState === 'valid') {
          this.disabled = true
          this.reset()

          var list = this.localeList
          list = this.localeList.filter(function (locale) {
            return this.subRegionsSelected[locale.region].indexOf(locale.subRegion) > -1
          }, this)
          this.progress.max = list.length
          list.forEach(function (locale) {
            var url = this.url.toLowerCase().replace('cc-ll', locale.ccll)
            this.getPageData(locale, url)
          }, this)
        }
      },
      reset (evt) {
        this.sites = []
        this.progress.current = 0
        this.progress.max = 100
      },
      colorize (code) {
        var name = ''
        switch (code.toString()[0]) {
          case '2':
            name = 'success'
            break
          case '4':
            name = 'warning'
            break
          case '5':
            name = 'danger'
            break
          case '9':
            name = 'info'
            break
          default:
            break
        }
        return name
      },
      download (content, fileName, mimeType) {
        var a = document.createElement('a')
        mimeType = mimeType || 'application/octet-stream'

        if (navigator.msSaveBlob) { // IE10
          navigator.msSaveBlob(new Blob([content], {
            type: mimeType
          }), fileName)
        } else if (URL && 'download' in a) { // html5 A[download]
          a.href = URL.createObjectURL(new Blob([content], {
            type: mimeType
          }))
          a.setAttribute('download', fileName)
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        } else {
          location.href = 'data:application/octet-stream,' + encodeURIComponent(content)
        }
      },
      handleScroll () {
        this.scrolled = window.scrollY > this.$refs.logo.offsetHeight
      }
    },
    watch: {
      selected (newVal, oldVal) {
        if (newVal.length === 0) {
          this.indeterminate = false
          this.allSelected = false
        } else if (newVal.length === this.regions.length) {
          this.indeterminate = false
          this.allSelected = true
        } else {
          this.indeterminate = true
          this.allSelected = false
        }
      }
    },
    created () {
      window.addEventListener('scroll', this.handleScroll)
    },
    destroyed () {
      window.removeEventListener('scroll', this.handleScroll)
    },
    mounted () {
      axios.defaults.headers.common['Pragma'] = 'no-cache' // stop ie11 caching ajax requests
      axios.defaults.headers.common['Cache-Control'] = 'no-store, no-cache, must-revalidate, post-check=0, pre-check=0' // stop ie11 caching ajax requests
      axiosRetry(axios, { retries: 2 })
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  @media (min-width: 576px) {
    .country {
      border-right: 1px solid rgba(0, 0, 0, .2);
    }
    .shadow {
      -webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,.2);
      -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,.2);
      box-shadow: 0 10px 6px -6px rgba(0,0,0,.2);
    }
  }

  @media (max-width: 576px) {
    .sticky-top {
      position: relative;
    }
  }

  .sticky-top {
    background-color: #fff;
    transition: box-shadow .3s;
  }

  .all {
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-right: 1rem;
  }

  .bar {
    margin-top: 1px;
  }

  .url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<style>
  button,
  .custom-checkbox  {
    cursor: pointer;
  }
</style>
