<template>
  <b-container>

    <b-row class="pt-4" ref="logo">
      <h1 class="mx-auto">UrlCheck::List</h1>
    </b-row>

    <b-form @submit="onSubmit" class="sticky-top pt-4" :class="{'shadow': scrolled}">
      <b-form-group id="url-group" label="Site url:" label-for="url-input" horizontal :feedback="urlFeedback" :state="urlState">
        <b-form-textarea id="url-input"
            required
            v-model="urls"
            :state="urlState"
            placeholder="https://www8.hp.com/CC/LL/home.html or https://www.hp.com/CC-LL/home.html"
            :rows="6"
            :max-rows="12">
        </b-form-textarea>
      </b-form-group>

      <b-form-group id="region-group" label="Regions:" label-for="region-checkboxes" horizontal :feedback="regionFeedback" :state="regionState">
        <b-form-checkbox v-model="allSelected" :indeterminate="indeterminate" @change="toggleAll" :disabled="disabled" class="all d-inline-block align-middle">ALL</b-form-checkbox>
        <b-form-checkbox-group id="region-checkboxes" :options="regions" v-model="selected" :disabled="disabled" name="regions" class="d-inline-block align-middle"></b-form-checkbox-group>
      </b-form-group>

      <b-form-group id="cta-group" label="" label-for="cta" horizontal :state="ctaState" :feedback="ctaFeedback">
        <b-row>
          <b-col sm="4" class="mb-4 mb-sm-0">
            <b-button id="cta" type="submit" variant="primary" block :disabled="disabled">Test</b-button>
          </b-col>
          <b-col sm="4" class="mb-4 mb-sm-0">
            <b-button block @click="retest" variant="outline-primary" :disabled="disabled">Retest</b-button>
          </b-col>
          <b-col sm="4">
            <b-button variant="outline-primary" @click="getCsv" block :disabled="disabled">Download results</b-button>
          </b-col>
        </b-row>
      </b-form-group>

      <b-alert variant="danger" dismissible :show="showAlert" @dismissed="showAlert=false">
        {{alertMessage}}
      </b-alert>

      <b-form-group id="progress-group" class="mb-0">
        <b-progress :value="progress.current" :max="progress.max" variant="secondary" height="3px" class="bar"></b-progress>
      </b-form-group>
    </b-form>

    <h5 class="mt-4">2XX:</h5>
    <b-card class="text-center mt-4" :class="{'d-none': twosPages.length > 0}">
      No 2XX pages have been found yet.
    </b-card>
    <b-list-group class="pt-4 mb-4">
      <b-list-group-item v-for="(site, index) in twosPages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block"><a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a></b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5>3XX:</h5>
    <b-card class="text-center mt-4" :class="{'d-none': threesPages.length > 0}">
      No 3XX pages have been found yet.
    </b-card>
    <b-list-group class="pt-4 mb-4">
      <b-list-group-item v-for="(site, index) in threesPages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block"><a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a></b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5>4XX:</h5>
    <b-card class="text-center mt-4" :class="{'d-none': foursPages.length > 0}">
      No 4XX pages have been found yet.
    </b-card>
    <b-list-group class="pt-4 mb-4">
      <b-list-group-item v-for="(site, index) in foursPages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block"><a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a></b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5>5XX:</h5>
    <b-card class="text-center mt-4" :class="{'d-none': fivesPages.length > 0}">
      No 5XX pages have been found yet.
    </b-card>
    <b-list-group class="pt-4 mb-4">
      <b-list-group-item v-for="(site, index) in fivesPages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block"><a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a></b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

    <h5 class="d-none" :class="{'d-block': elsePages.length > 0}">Else:</h5>
    <b-list-group class="pt-4 mb-4 d-none" :class="{'d-block': elsePages.length > 0}">
      <b-list-group-item v-for="(site, index) in elsePages" :key="index" :variant="colorize(site.code)">
        <b-row>
          <b-col cols="9" sm="3" xl="2" class="country">{{site.country}}</b-col>
          <b-col sm="7" md="8" xl="9" class="url d-none d-sm-block"><a :href="site.url" target="_blank" class="text-dark">{{site.url}}</a></b-col>
          <b-col cols="3" sm="2" md="1">
            <b-badge class="float-right" :variant="colorize(site.code)">{{site.code}}</b-badge>
          </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>

  </b-container>
</template>

<script>
import Papa from 'papaparse'
import sortBy from 'lodash/sortBy'
import axios from 'axios'
import axiosRetry from 'axios-retry'
import urlModule from 'url'

export default {
  name: 'List',
  data () {
    return {
      url: '',
      urls: 'http://www8.hp.com/cc/ll/ads/print-projects/overview.html , http://www8.hp.com/cc/ll/ads/clientmanagement/overview.html , http://www8.hp.com/cc/ll/printers/a3-multifunction/managed-printers.html',
      urls1: [
        'http://www8.hp.com/cc/ll/printers/officejet-pro-7000.html',
        'http://www8.hp.com/cc/ll/printers/officejet-pro-6000.html',
        'http://www8.hp.com/cc/ll/printers/officejet-pro-8000.html',
        'http://www8.hp.com/cc/ll/printers/Smart-Tank_Wireless.html',
        'http://www8.hp.com/cc/ll/printers/HP-Ink-Tank_System.html',
        'http://www8.hp.com/cc/ll/printers/deskjet3700.html',
        'http://www8.hp.com/cc/ll/printers/ink-advantage.html ',
        'http://www8.hp.com/cc/ll/printers/sprocket.html',
        'http://www8.hp.com/cc/ll/printers/getting-started.html',
        'http://www8.hp.com/cc/ll/printers/zink.html',
        'http://www8.hp.com/cc/ll/printers/envy-photo-printers.html',
        'http://www8.hp.com/cc/ll/printers/deskjet.html ',
        'http://www8.hp.com/cc/ll/printers/3d-printers.html ',
        'http://www8.hp.com/cc/ll/printers/3d-printers/servicebureau.html',
        'http://www8.hp.com/cc/ll/printers/samsungclaims.html ',
        'http://www8.hp.com/cc/ll/printers/samsung.html ',
        'http://www8.hp.com/cc/ll/printers/business-printers.html ',
        'http://www8.hp.com/cc/ll/services/enterprise/techcafe.html ',
        'http://www8.hp.com/cc/ll/public-sector.html',
        'http://www8.hp.com/cc/ll/printers/business-printers.html'
      ],
      urls2: [
        'http://www8.hp.com/cc/ll/printers/pagewide-business-printers.html  ',
        'http://www8.hp.com/cc/ll/printers/laserjet.html ',
        'http://www8.hp.com/cc/ll/ads/supplies/qualified-distribution.html',
        'http://www8.hp.com/cc/ll/products/home-office-printers/by-brand.html ',
        'http://www8.hp.com/cc/ll/print-projects/social-media-snapshots.html ',
        'http://www8.hp.com/cc/ll/printers/laserjet-pro-family.html ',
        'http://www8.hp.com/cc/ll/printers/laserjet-pro-2.html ',
        'http://www8.hp.com/cc/ll/printers/laserjet-pro-1.html ',
        'http://www8.hp.com/cc/ll/cartridge/ink-toner-paper.html',
        'http://www8.hp.com/cc/ll/cartridge/toner.html',
        'http://www8.hp.com/cc/ll/cartridge/anti-counterfeit.html  ',
        'http://www8.hp.com/cc/ll/cartridge/recycle.html    ',
        'http://www8.hp.com/cc/ll/cartridge/ink.html    ',
        'http://www8.hp.com/cc/ll/services/overview.html ',
        'http://www8.hp.com/cc/ll/services/support-services.html ',
        'http://www8.hp.com/cc/ll/services/daas.html ',
        'http://www8.hp.com/cc/ll/services/enterprise/configuration.html ',
        'http://www8.hp.com/cc/ll/services/enterprise/deployment.html ',
        'http://www8.hp.com/cc/ll/services/enterprise/care-services.html ',
        'http://www8.hp.com/cc/ll/services/enterprise/priority-services.html '
      ],
      urls3: [
        'http://www8.hp.com/cc/ll/services/daas-for-apple.html#!&pd1=1 ',
        'http://www8.hp.com/cc/ll/services/enterprise/care-pack.html ',
        'http://www8.hp.com/cc/ll/services/enterprise/techcafe.html',
        'http://www8.hp.com/cc/ll/services/enterprise/ready-support.html ',
        'http://www8.hp.com/cc/ll/printers/business-printers.html',
        'http://www8.hp.com/cc/ll/printers/color-laserjet-pro.html',
        'http://www8.hp.com/cc/ll/printers/laserjet.html',
        'http://www8.hp.com/cc/ll/printers/laserjet-enterprise-mfp.html',
        'http://www8.hp.com/cc/ll/printers/laserjet-enterprise.html',
        'http://www8.hp.com/cc/ll/printers/laserjet-enterprise-flow.html',
        'http://www8.hp.com/cc/ll/printers/3d-printers.html',
        'http://www8.hp.com/cc/ll/printers/samsung.html',
        'http://www8.hp.com/cc/ll/printers/3d-printers/servicebureau.html ',
        'http://www8.hp.com/cc/ll/printers/3d-printers/materials.html',
        'http://www8.hp.com/cc/ll/campaigns/nasa.html',
        'http://www8.hp.com/cc/ll/solutions/security/rivolta.html',
        'http://www8.hp.com/cc/ll/solutions/security/rivolta.html',
        'http://www8.hp.com/cc/ll/solutions/mobility/wwan/verizon.html',
        'http://www8.hp.com/cc/ll/campaigns/futuresmart/landing.html'
      ],
      urls4: [
        'http://www8.hp.com/cc/ll/printers/a3-multifunction.html',
        'http://www8.hp.com/cc/ll/printers/a3-multifunction/pagewidepro.html',
        'http://www8.hp.com/cc/ll/printers/a3-multifunction/pagewidepro-mfp.html',
        'http://www8.hp.com/cc/ll/printers/a3-multifunction/pagewidepro-printers.html',
        'http://www8.hp.com/cc/ll/printers/a3-multifunction/managed-printers.html',
        'http://www8.hp.com/cc/ll/printers/a3/managed-Pagewidepro-enterprise-mfp.html',
        'http://www8.hp.com/cc/ll/printers/a3-multifunction/managed-color-laserjet-printer.html',
        'http://www8.hp.com/cc/ll/printers/a3-multifunction/managed-laserjet-printer.html',
        'http://www8.hp.com/cc/ll/printers/a3-multifunction/managed-Pagewidepro-mfp.html',
        'http://www8.hp.com/cc/ll/printers/a3-multifunction/managed-Pagewidepro-printer.html',
        'http://www8.hp.com/cc/ll/printers/pagewide-business-printers.html',
        'http://www8.hp.com/cc/ll/deskjet-gt/overview.html',
        'http://www8.hp.com/cc/ll/cartridge/recycle.html',
        'http://www8.hp.com/cc/ll/printers/laserjet-mfp.html',
        'https://ssl.www8.hp.com/cc/ll/printers/a3-multifunction/MGP1.html',
        'https://ssl.www8.hp.com/cc/ll/printers/a3-multifunction/MGP2.html',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/securityoverview.html',
        'http://www8.hp.com/cc/ll/printers/laserjetpro.html'
      ],
      urls5: [
        'http://www8.hp.com/cc/ll/deskjet-gt/overview.html',
        'http://www8.hp.com/cc/ll/printers/A3-MFP-brochure/register.html',
        'http://www8.hp.com/cc/ll/solutions/security/thewolf.html',
        'http://www8.hp.com/cc/ll/solutions/financial-services/index.html',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/jetadvantage-ondemand.html',
        'http://www8.hp.com/cc/ll/services/consumer/services-overview.html',
        'http://www8.hp.com/cc/ll/services/consumer/smartfriend-overview.html',
        'http://www8.hp.com/cc/ll/services/consumer/carepack-overview.html ',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/devicesecurity.html',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/documentsecurity.html ',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/datasecurity.html',
        'http://www8.hp.com/cc/ll/services/securemps.html ',
        'http://www8.hp.com/cc/ll/services/security-services.html ',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/security-ebook.html',
        'https://ssl.www8.hp.com/cc/ll/campaigns/security-ebook/registration.html',
        'https://ssl.www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/security-idc-whitepaper-registration.html',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/hp-security-quickassess.html ',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/hp-security-quickassess-case-study.html'
      ],
      urls6: [
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/securityconsult.html',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/vr-experience.html',
        'http://www8.hp.com/cc/ll/campaign/solutions-day/landing.html',
        'http://www8.hp.com/cc/ll/campaigns/Sprocket-Giveaway/x-factor.html',
        'http://www8.hp.com/cc/ll/security/printersecurity/claims.html ',
        'http://www8.hp.com/cc/ll/campaigns/healthcare/about.html',
        'http://www8.hp.com/cc/ll/solutions/business-solutions/printingsolutions/PPL.html',
        'http://www8.hp.com/cc/ll/campaigns/securewithmps/registration.html',
        'http://www8.hp.com/cc/ll/services/daas-for-apple.html',
        'http://www8.hp.com/cc/ll/printers/officejet-pro-6000.html',
        'http://www8.hp.com/cc/ll/printers/smallestAiOclaims.html',
        'http://www8.hp.com/cc/ll/printers/consumer-printers.html',
        'http://www8.hp.com/cc/ll/ads/mobility/overview.html ',
        'http://www8.hp.com/cc/ll/instant-ink/overview-smb.html ',
        'http://www8.hp.com/cc/ll/instant-ink/printers-smb.html ',
        'http://www8.hp.com/cc/ll/products/home-office-printers/by-use.html',
        'http://www8.hp.com/cc/ll/products/home-office-printers/by-brand.html',
        'http://www8.hp.com/cc/ll/printers/pagewide-cartridges.html',
        'http://www8.hp.com/cc/ll/business-services/managed-print-services/analysts-corner-overview.html',
        'http://www8.hp.com/cc/ll/business-services/managed-print-services/analysts-corner-idc.html'
      ],
      urls7: [
        'http://www8.hp.com/cc/ll/business-services/managed-print-services/analysts-corner-gartner.html',
        'http://www8.hp.com/cc/ll/business-services/managed-print-services/analysts-corner-quocirca.html',
        'http://www8.hp.com/cc/ll/business-services/managed-print-services/analysts-corner-keypoint.html',
        'http://www8.hp.com/cc/ll/business-services/managed-print-services/analysts-corner-tsia.html',
        'http://www8.hp.com/cc/ll/services/overview.html',
        'http://www8.hp.com/cc/ll/services/support-services.html',
        'http://www8.hp.com/cc/ll/services/enterprise/configuration.html',
        'http://www8.hp.com/cc/ll/services/enterprise/deployment.html',
        'http://www8.hp.com/cc/ll/services/enterprise/care-services.html',
        'http://www8.hp.com/cc/ll/services/enterprise/priority-services.html',
        'http://www8.hp.com/cc/ll/services/enterprise/care-pack.html',
        'http://www8.hp.com/cc/ll/services/daas.html',
        'http://www8.hp.com/cc/ll/services/daas-resources.html',
        'https://ssl.www8.hp.com/cc/ll/services/enterprise/contact_us.html',
        'http://www8.hp.com/cc/ll/services/smb/helpdesk.html',
        'http://www8.hp.com/cc/ll/services/enterprise/dispose-and-refresh.html',
        'http://www8.hp.com/cc/ll/services/mps.html',
        'http://www8.hp.com/cc/ll/solutions/business-solutions.html',
        'http://www8.hp.com/cc/ll/solutions/security/thefixer.html',
        'https://ssl.www8.hp.com/cc/ll/campaigns/as-a-service/registration.html',
        'http://www8.hp.com/cc/ll/campaigns/risk_free/instantink_carepack.html'
      ],
      bigdaddy: [],
      regions: ['AMS', 'EMEA', 'APJ', 'LATAM'],
      selected: ['AMS', 'EMEA', 'APJ', 'LATAM'],
      allSelected: true,
      indeterminate: false,
      sites: [],
      promises: [],
      progress: {
        current: 0,
        max: 100
      },
      disabled: false,
      ctaState: 'valid',
      ctaFeedback: '',
      localeList: [
        {
          ccll: 'us-en',
          region: 'AMS',
          country: 'United States'
        },
        {
          ccll: 'ca-en',
          region: 'AMS',
          country: 'Canada EN'
        },
        {
          ccll: 'ca-fr',
          region: 'AMS',
          country: 'Canada FR'
        },
        {
          ccll: 'uk-en',
          region: 'EMEA',
          country: 'United Kingdom'
        },
        {
          ccll: 'ie-en',
          region: 'EMEA',
          country: 'Ireland'
        },
        {
          ccll: 'ch-de',
          region: 'EMEA',
          country: 'Switzerland DE'
        },
        {
          ccll: 'ch-fr',
          region: 'EMEA',
          country: 'Switzerland FR'
        },
        {
          ccll: 'de-de',
          region: 'EMEA',
          country: 'Germany'
        },
        {
          ccll: 'es-es',
          region: 'EMEA',
          country: 'Spain'
        },
        {
          ccll: 'fr-fr',
          region: 'EMEA',
          country: 'France'
        },
        {
          ccll: 'it-it',
          region: 'EMEA',
          country: 'Italy'
        },
        {
          ccll: 'be-fr',
          region: 'EMEA',
          country: 'Belgium FR'
        },
        {
          ccll: 'be-nl',
          region: 'EMEA',
          country: 'Belgium NL'
        },
        {
          ccll: 'se-sv',
          region: 'EMEA',
          country: 'Sweden'
        },
        {
          ccll: 'ru-ru',
          region: 'EMEA',
          country: 'Russia'
        },
        {
          ccll: 'dk-da',
          region: 'EMEA',
          country: 'Denmark'
        },
        {
          ccll: 'no-no',
          region: 'EMEA',
          country: 'Norway'
        },
        {
          ccll: 'at-de',
          region: 'EMEA',
          country: 'Austria'
        },
        {
          ccll: 'emea_africa-fr',
          region: 'EMEA',
          country: 'Africa FR'
        },
        {
          ccll: 'emea_africa-en',
          region: 'EMEA',
          country: 'Africa EN'
        },
        {
          ccll: 'cz-cs',
          region: 'EMEA',
          country: 'Czech Republic'
        },
        {
          ccll: 'hr-hr',
          region: 'EMEA',
          country: 'Croatia'
        },
        {
          ccll: 'fi-fi',
          region: 'EMEA',
          country: 'Finland'
        },
        {
          ccll: 'gr-el',
          region: 'EMEA',
          country: 'Greece'
        },
        {
          ccll: 'hu-hu',
          region: 'EMEA',
          country: 'Hungary'
        },
        {
          ccll: 'il-he',
          region: 'EMEA',
          country: 'Israel'
        },
        {
          ccll: 'emea_middle_east-ar',
          region: 'EMEA',
          country: 'Middle East AR'
        },
        {
          ccll: 'emea_middle_east-en',
          region: 'EMEA',
          country: 'Middle East EN'
        },
        {
          ccll: 'nl-nl',
          region: 'EMEA',
          country: 'Netherlands'
        },
        {
          ccll: 'pl-pl',
          region: 'EMEA',
          country: 'Poland'
        },
        {
          ccll: 'pt-pt',
          region: 'EMEA',
          country: 'Portugal'
        },
        {
          ccll: 'ro-ro',
          region: 'EMEA',
          country: 'Romania'
        },
        {
          ccll: 'sa-ar',
          region: 'EMEA',
          country: 'Saudi Arabia AR'
        },
        {
          ccll: 'sa-en',
          region: 'EMEA',
          country: 'Saudi Arabia EN'
        },
        {
          ccll: 'sk-sk',
          region: 'EMEA',
          country: 'Slovak Republic'
        },
        {
          ccll: 'si-sl',
          region: 'EMEA',
          country: 'Slovenia'
        },
        {
          ccll: 'tr-tr',
          region: 'EMEA',
          country: 'Turkey'
        },
        {
          ccll: 'za-en',
          region: 'EMEA',
          country: 'South Africa'
        },
        {
          ccll: 'au-en',
          region: 'APJ',
          country: 'Australia'
        },
        {
          ccll: 'nz-en',
          region: 'APJ',
          country: 'New Zealand'
        },
        {
          ccll: 'my-en',
          region: 'APJ',
          country: 'Malaysia'
        },
        {
          ccll: 'in-en',
          region: 'APJ',
          country: 'India'
        },
        {
          ccll: 'sg-en',
          region: 'APJ',
          country: 'Singapore'
        },
        {
          ccll: 'kr-ko',
          region: 'APJ',
          country: 'Korea'
        },
        {
          ccll: 'vn-en',
          region: 'APJ',
          country: 'Vietnam EN'
        },
        {
          ccll: 'vn-vi',
          region: 'APJ',
          country: 'Vietnam VI'
        },
        {
          ccll: 'ph-en',
          region: 'APJ',
          country: 'Philippines'
        },
        {
          ccll: 'hk-en',
          region: 'APJ',
          country: 'Hong Kong EN'
        },
        {
          ccll: 'hk-zh',
          region: 'APJ',
          country: 'Hong Kong ZH'
        },
        {
          ccll: 'cn-zh',
          region: 'APJ',
          country: 'China'
        },
        {
          ccll: 'id-en',
          region: 'APJ',
          country: 'Indonesia'
        },
        {
          ccll: 'th-en',
          region: 'APJ',
          country: 'Thailand EN'
        },
        {
          ccll: 'th-th',
          region: 'APJ',
          country: 'Thailand TH'
        },
        {
          ccll: 'tw-zh',
          region: 'APJ',
          country: 'Taiwan'
        },
        {
          ccll: 'mx-es',
          region: 'LATAM',
          country: 'Mexico'
        },
        {
          ccll: 'br-pt',
          region: 'LATAM',
          country: 'Brazil'
        },
        {
          ccll: 'pe-es',
          region: 'LATAM',
          country: 'Peru'
        },
        {
          ccll: 'co-es',
          region: 'LATAM',
          country: 'Colombia'
        },
        {
          ccll: 'ec-es',
          region: 'LATAM',
          country: 'Ecuador'
        },
        {
          ccll: 'cl-es',
          region: 'LATAM',
          country: 'Chile'
        },
        {
          ccll: 'ar-es',
          region: 'LATAM',
          country: 'Argentina'
        },
        {
          ccll: 'bo-es',
          region: 'LATAM',
          country: 'Bolivia'
        },
        {
          ccll: 'lamerica_nsc_cnt_amer-es',
          region: 'LATAM',
          country: 'Latin America (Cnt)'
        },
        {
          ccll: 'pr-es',
          region: 'LATAM',
          country: 'Puerto Rico'
        },
        {
          ccll: 'py-es',
          region: 'LATAM',
          country: 'Paraguay'
        },
        {
          ccll: 'uy-es',
          region: 'LATAM',
          country: 'Uruguay'
        },
        {
          ccll: 've-es',
          region: 'LATAM',
          country: 'Venezuela'
        },
        {
          ccll: 'lamerica_nsc_carib-en',
          region: 'LATAM',
          country: 'Caribbean'
        }
      ],
      scrolled: false,
      showAlert: false,
      alertMessage: ''
    }
  },
  computed: {
    urlFeedback () {
      let result = ''
      if (this.urlList.length) {
        for (let i = 0; i < this.urlList.length; i++) {
          let url = this.urlList[i]
          try {
            result = (urlModule.parse(url).hostname === 'www.hp.com').toString()
            if (result === 'false') {
              result = 'Only "www.hp.com" domain allowed!'
              break
            } else if (url.match(/.+\/cc-ll\/.+/i) === null) {
              result = 'Url has to contain "cc-ll" to generate local urls!'
              break
            }
          } catch (e) {
            result = 'Url is not valid!'
            break
          }
        }
      }

      return result
    },
    urlState () {
      if (this.urlList.length === 0) {
        return null
      } else {
        return this.urlFeedback === 'true' ? 'valid' : 'invalid'
      }
    },
    urlList () {
      return this.urls
        .replace(/(\r\n|\n|\r)/gm, '')
        .split(',')
          .map(function (u) {
            return u.trim()
          })
          .filter(x => x.length)
    },
    regionFeedback () {
      return this.selected.length === 0 ? 'Must select one region at least!' : ''
    },
    regionState () {
      return 'invalid'
    },
    twosPages () {
      return this.sites.filter(function (site) {
        return '2'.indexOf(site.code.toString()[0]) > -1
      })
    },
    threesPages () {
      return this.sites.filter(function (site) {
        return '3'.indexOf(site.code.toString()[0]) > -1
      })
    },
    foursPages () {
      return this.sites.filter(function (site) {
        return '4'.indexOf(site.code.toString()[0]) > -1
      })
    },
    fivesPages () {
      return this.sites.filter(function (site) {
        return '5'.indexOf(site.code.toString()[0]) > -1
      })
    },
    elsePages () {
      return this.sites.filter(function (site) {
        return ['2', '3', '4', '5'].indexOf(site.code.toString()[0]) === -1
      })
    },
    tffPages () {
      return this.sites.filter(function (site) {
        return ['3', '4', '5'].indexOf(site.code.toString()[0]) > -1
      })
    }
  },
  methods: {
    toggleAll (checked) {
      this.selected = checked ? this.regions.slice() : []
    },
    getCsv () {
      if (this.sites.length === 0) {
        this.ctaState = 'invalid'
        this.ctaFeedback = 'No data to download, please run a test first!'
      } else {
        this.ctaState = 'valid'
        var csv = Papa.unparse(sortBy(this.sites, ['id', 'region', 'country']))
        this.download(csv, 'UrlCheck.csv', 'text/csv;encoding:utf-8')
      }
    },
    retest (evt) {
      evt.preventDefault()
      if (this.tffPages.length === 0) {
        this.ctaState = 'invalid'
        this.ctaFeedback = 'Nothing to retest. There must be 3XX, 4XX or 5XX.'
      } else {
        this.ctaState = 'valid'
        this.disabled = true

        this.progress.current = 0
        this.progress.max = this.tffPages.length

        this.tffPages.forEach(function (page) {
          this.getPageData(page, page.url)
        }, this)

        this.sites = this.twosPages
      }
    },
    getPageData (page, url) {
      axios.get(`${process.env.SERVER_HOST || ''}/check?url=${url}`)
        .then(response => {
          this.sites.push({
            region: page.region,
            country: page.country,
            url: url,
            code: response.data
          })
          this.progress.current++
          if (this.progress.max <= this.progress.current) {
            this.disabled = false
          }
        })
        .catch(e => {
          this.alertMessage = e.toString()
          this.showAlert = true
          this.progress.current++
          if (this.progress.max <= this.progress.current) {
            this.disabled = false
          }
        })
    },
    onSubmit (evt) {
      evt.preventDefault()
      var self = this
      var p = Promise.resolve()

      this.progress.max = this.urlList.length

      this.urlList.forEach(function (url, i) {
        p = p.then(function () {
          return self.batchTest(url, i)
        })
      })
    },
    batchTest (url, i) {
      var self = this
      this.ctaState = 'valid'
      this.disabled = true
      var list = this.localeList

      list = this.localeList.filter(function (locale) {
        return this.selected.indexOf(locale.region) > -1
      }, this)

      list.forEach(function (locale) {
        var nurl = url.toLowerCase().replace('cc/ll', locale.ccll)
        this.promises.push(axios.get(`${process.env.SERVER_HOST || ''}/check?url=${nurl}`))
        this.sites.push({
          id: i,
          region: locale.region,
          country: locale.country,
          url: nurl,
          code: 0
        })
      }, this)

      return axios.all(this.promises).then(function (results) {
        results.forEach(function (response, i) {
          self.sites[i].code = response.data
        })
        self.progress.current++
        if (self.progress.max <= self.progress.current) {
          self.disabled = false
        }
      })
    },
    reset (evt) {
      this.sites = []
      this.progress.current = 0
      this.progress.max = 100
    },
    colorize (code) {
      var name = ''
      switch (code.toString()[0]) {
        case '2':
          name = 'success'
          break
        case '4':
          name = 'warning'
          break
        case '5':
          name = 'danger'
          break
        case '9':
          name = 'info'
          break
        default:
          break
      }
      return name
    },
    download (content, fileName, mimeType) {
      var a = document.createElement('a')
      mimeType = mimeType || 'application/octet-stream'

      if (navigator.msSaveBlob) { // IE10
        navigator.msSaveBlob(new Blob([content], {
          type: mimeType
        }), fileName)
      } else if (URL && 'download' in a) { // html5 A[download]
        a.href = URL.createObjectURL(new Blob([content], {
          type: mimeType
        }))
        a.setAttribute('download', fileName)
        document.body.appendChild(a)
        a.click()
        document.body.removeChild(a)
      } else {
        location.href = 'data:application/octet-stream,' + encodeURIComponent(content)
      }
    }
  },
  watch: {
    selected (newVal, oldVal) {
      if (newVal.length === 0) {
        this.indeterminate = false
        this.allSelected = false
      } else if (newVal.length === this.regions.length) {
        this.indeterminate = false
        this.allSelected = true
      } else {
        this.indeterminate = true
        this.allSelected = false
      }
    }
  },
  mounted () {
    console.log(process.env, process.env.SERVER_HOST)
    axios.defaults.headers.common['Pragma'] = 'no-cache' // stop ie11 caching ajax requests
    axios.defaults.headers.common['Cache-Control'] = 'no-store, no-cache, must-revalidate, post-check=0, pre-check=0' // stop ie11 caching ajax requests
    axiosRetry(axios, { retries: 2 })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  @media (min-width: 576px) {
    .country {
      border-right: 1px solid rgba(0, 0, 0, .2);
    }
    .shadow {
      -webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,.2);
         -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,.2);
              box-shadow: 0 10px 6px -6px rgba(0,0,0,.2);
    }
  }

  @media (max-width: 576px) {
    .sticky-top {
      position: relative;
    }
  }

  .sticky-top {
    background-color: #fff;
    transition: box-shadow .3s;
  }

  .all {
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-right: 1rem;
  }

  .bar {
    margin-top: 1px;
  }

  .url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<style>
  button,
  .custom-checkbox  {
    cursor: pointer;
  }
</style>
